.dockerignore
environment*
.env*
.git
.coverage
docker-compose.*
docker/Dockerfile
.gitignore
**/__pycache__
docker-compose.2.yaml
tests
.coveragerc
tox.ini
.env
.pre-commit-config.yaml
*.csv
*.json
*.prof
*.lprof
*.lprof1
*.txt
!change_log.txt
.gitlab-ci.*
venv
.idea
osrm_data
./reports
osrm/*
